Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Akshata Padalkar"
COLLABORATORS = ""

---

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\to$ Restart) and then **run all cells** (in the menubar, select Cell $\to$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Akshata Padalkar"
COLLABORATORS = ""

---

<div class="alert alert-block alert-info">
<h3>Student Information</h3> Please provide information about yourself.<br>
<b>Name</b>: Akshata Padalkar<br> 
<b>NetID</b>: ANP178<br>
<b>Recitation #</b>:2<br>
<b>Notes to Grader</b> (optional):<br>
<br><br>
<b>IMPORTANT</b>
Your work will not be graded withour your initials below<br>
I certify that this lab represents my own work and I have read the RU academic intergrity policies at<br>
<a href="https://www.cs.rutgers.edu/academic-integrity/introduction">https://www.cs.rutgers.edu/academic-integrity/introduction </a><br>
<b>Initials</b>: AP     (eg: NC for Naina Chaturvedi)

# CS 439 - Introduction to Data Science
### Spring 2025

## Lab 1 - Pandas, NumPy (100 points)
### Due Date: Feb 19th, 2025

Welcome to your first lab in Introduction to Data Science! In this lab, you will explore two fundamental libraries in Python: NumPy and Pandas. This notebook has multiple tasks that you need to complete. To complete a task, just double click on the cell (notebook must be opened in Jupyter/CodeBench) and enter your answer. Be sure to save the notebook often (ctrl-S or cmd-S) and execute the cell (Shift-Enter) to make sure you code is saved and executes correctly.

### Lab Discussions
Post any questions regarding this lab to canvas discussion board on Lab 01 or visit office hours.

## Course Policies

**Collaboration Policy**

Data science is a collaborative activity. While you may talk with others about the labs, we ask that you **write your solutions individually**. You are not allowed to copy code from other notebooks. Attempting to submit code that is not yours can result in penalties and academic disciplinary actions. Please consult course staff for any clarification regarding collaboration policies.

**AI Policy**

We **only allow** the use of responsible **AI tool youchat** to help you find information as you write code to solve labs. The use of AI should be done cautiously. It **does not** free you from understanding the code you write. Being able to read, interpret and test code written by AI is required for you to answer questions in quizzes and exams. **DO NOT use** other AI tools such as chatGPT and Bard.

## Part 1: NumPy (40 Points)

In [40]:
import numpy as np

### Task 1: Inventory Data Reshaping (5 Points)

- Task: A warehouse stores its inventory in a 3x4 grid where each cell represents the quantity of a product. Simulate this inventory using an array with random integers between 10 and 50. Then, reshape the array into a 2x6 grid.

- Significance: Reshaping is crucial in numerical computations and machine learning to align data structures for efficient processing.

- Output: Display the reshaped array, and it's shape

In [41]:
# Code goes here
A = np.random.randint(10, 50, (3, 4))
#print("A =\n", A) 
reshaped_A = A.reshape(2, 6)
print("reshaped_A = \n", reshaped_A)
print("Shape: ", reshaped_A.shape)

reshaped_A =
 [[46 43 11 35 45 36]
 [16 10 35 32 33 22]]
Shape:  (2, 6)

### Task 2: Structural Engineering Matrix (10 Points)

- Task: A structural engineer wants to model a 5x5 stiffness matrix where the main diagonal represents primary support (value 1), and the upper and lower subdiagonals represents secondary support (value 2). Construct this matrix.

- Significance: Diagonal matrices are widely used in engineering and physics to represent stiffness, resistance, or transformations.

- Output: Display the matrix, and it's shape

In [42]:
# Code goes here
A = np.zeros((5,5),int)                                               
A[range(5),range(5)]=1                                               
A[range(4),range(1,5)]=2                                              
A[range(1,5),range(4)]=2                                              
print(A)    
print("Shape: ", A.shape)

[[1 2 0 0 0]
 [2 1 2 0 0]
 [0 2 1 2 0]
 [0 0 2 1 2]
 [0 0 0 2 1]]
Shape:  (5, 5)

### Task 3: Data Combination for Analysis (10 Points)
- Task: A research study collects two separate 1D datasets of size 5. Combine these datasets into one and organize them into a 2x5 format. Also find the mean, median, and standard deviation of the combined dataset.

- Significance: Combining datasets is fundamental in data science, allowing integration of multiple sources of information.

- Output: Display the combined array, it's shape and the it's mean, median, and standard deviation.

In [43]:
data1 = np.array([12.4, 4.1, 45.2, 4.3, 44.1])
data2 = np.array([1, 45, 3.5, 66.2, 3])

# Code goes here
matrix = np.array([data1, data2])

print("Matrix: \n", matrix)
print()
mean = np.mean(matrix)
median = np.median(matrix)
std = np.std(matrix)
print("Mean: ", mean,"\nMedian: ", median,"\nStandard Deviation: ", std)
print("Shape: ", matrix.shape)

Matrix:
 [[12.4  4.1 45.2  4.3 44.1]
 [ 1.  45.   3.5 66.2  3. ]]

Mean:  22.880000000000003
Median:  8.35
Standard Deviation:  23.176833260823187
Shape:  (2, 5)

### Task 4: Linear Transformations in Computer Graphics (5 Points)

- Task: Compute the transformed position when matrix A is applied to vector X, followed by translation b.

- Significance: Linear transformations are essential for scaling, rotating, and translating objects in space.

- Hint: Find `Ax + b` using Matrix multiplication and broadcasting

- Output: Display the transformed matrix

In [44]:
A = np.array([[2, 3], [4, 5]])
x = np.array([1, 2])
b = np.array([5, 6])

# Code goes here
dot = np.dot(A,x)
add = np.add(dot,b)
print(add)

[13 20]

### Task 5: Signal Processing Correlation (5 Points)

- Task: Compute the dot product correlation between two 3x3 matrices to measure similarity, commonly used in image processing and machine learning.

- Significance: The dot product quantifies how similar two matrices are, crucial in pattern recognition.

- Output: Display the dot product of the 2 matrices

In [45]:
filter1 = np.array([
    [1,1,1],
    [1,0,1],
    [1,1,1]
])

filter2 = np.array([
    [1,1,2],
    [1,2,1],
    [2,1,1]
])

# Code goes here
dot = np.sum(filter1*filter2) 
print(dot)

10

### Task 6: Solving Electrical Circuit Equations (15 Points)

- Task: Solve the linear equation system $V = IR$ to determine Current($I$) in the circuit, given the Voltage($V$) and Resistor($R$) values

- Significance: Solving linear systems is key in engineering, physics, and optimization models.

- Hint: Use [`np.linalg` library](https://numpy.org/doc/2.1/reference/routines.linalg.html) to solve the system of equations $R$ and $V$ to find $I$

- Output: Display the Current values

In [46]:
V = np.array([[4,4,0]])
R = np.array([
    [13, -12, 3],
    [1, 4, 1],
    [3, -4, -1]
])

new_V = V.reshape(-1, 1)
# Code goes here
I = np.linalg.inv(R) @ new_V
print(I)

[[1.  ]
 [0.75]
 [0.  ]]

## Part 2: Pandas (60 Points)

In this section you **MUST** reuse the results from previous question wherever possible. **DO NOT RE-WRITE CODE**

In [47]:
import pandas as pd

### Task 1: Reading CSV files (5 Points)

- Task: Load and display the first five rows of the StudentPerformance.csv data to inspect its structure.

- Significance: Reading data is the first step in analysis, allowing us to explore data organization.

In [48]:
# Code goes here
df = pd.read_csv('StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,NaN,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,NaN,93.0
3,male,group A,NaN,free/reduced,NaN,NaN,57.0,44.0
4,male,group C,some college,NaN,NaN,76.0,NaN,NaN

### Task 2: DataFrame Inspection (10 Points)

- Task: Display key details such as data types, missing values, and overall structure. (5 Points)

- Significance: Understanding data structure ensures appropriate cleaning and transformations.

In [49]:
# Code goes here
print("Data Types:\n", df.dtypes)
print("\nMissing Values:\n", df.isnull().sum())
print("\nSummary Statistics:\n", df.describe())

Data Types:
 gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                  float64
dtype: object

Missing Values:
 gender                         101
race/ethnicity                  96
parental level of education     95
lunch                          100
test preparation course         85
math score                     106
reading score                   98
writing score                  115
dtype: int64

Summary Statistics:
        math score  reading score  writing score
count  894.000000     902.000000     885.000000
mean    66.360179      69.205100      68.058757
std     15.278820      14.484676      15.126351
min      0.000000      17.000000      15.000000
25%     57.000000      59.000000      57.000000
50%     67.000000      70.000000      69.000000
75%     77.000000      79.000000      79.000000
max    100.000000     100.000000     100.000000

What did you observe in the data? (5 Points) </br></br>
Several columns have missing values, particularly writing score (115 missing), math score (106 missing), and gender (101 missing). The missing values could impact analysis and may require imputation or removal of incomplete rows. The presence of 0 in math scores might indicate missing data encoded as zeros or students who did not attempt the test, which can be an outlier. Categorical columns such as gender, race/ethnicity, parental level of education, lunch, and test preparation course are stored as objects. The math score, reading score, and writing score columns are numerical (float64), which is expected.

### Task 3: Data Cleaning (10 Points)

- Task: Remove incomplete rows and reset the index (if needed) to ensure data integrity.

- Significance: Cleaning data improves accuracy in analysis and machine learning models.

In [50]:
# Code goes here
print(len(df))
#assumed data did not need to be preserved or imputed. 
df_filtered = df.dropna().reset_index(drop=True)
df_filtered.to_csv('final_clean.csv', index=False)

print(len(df_filtered))
print(df_filtered.isnull().sum())
df_filtered.head()

1000
440
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,completed,69.0,90.0,88.0
1,female,group B,some college,standard,completed,88.0,95.0,92.0
2,male,group B,some college,free/reduced,none,40.0,43.0,39.0
3,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
4,male,group D,associate's degree,standard,none,40.0,52.0,43.0

### Task 4: Filtering Data (10 Points)

- Task: Identify students who scored above 80 in math and completed the test preparation course.

- Significance: Filtering helps extract relevant subsets of data for focused analysis.

- Output: Display all details of the filtered students

In [51]:
# Code goes here
#Assuming we are to use the cleaned dataframe to complete this as stated at the beginning of this portion of tasks "you MUST reuse the results from previous question wherever possible"

high_math_scores = df_filtered[(df_filtered["math score"] > 80) & (df_filtered["test preparation course"] == "completed")]
print(high_math_scores)

     gender race/ethnicity parental level of education         lunch  \
1    female        group B                some college      standard
16     male        group E          associate's degree      standard
24     male        group C                 high school      standard
43     male        group C                some college      standard
49     male        group B          associate's degree      standard
50   female        group C                some college      standard
54     male        group E                some college  free/reduced
59     male        group E          associate's degree  free/reduced
67     male        group B          associate's degree  free/reduced
70   female        group C           bachelor's degree      standard
75   female        group C             master's degree      standard
77   female        group D            some high school      standard
94   female        group E          associate's degree  free/reduced
99     male        group C           bachelor's degree      standard
124    male        group B          associate's degree      standard
132    male        group A                some college  free/reduced
137    male        group E                some college      standard
165  female        group D                some college      standard
169  female        group D             master's degree  free/reduced
185    male        group E                some college      standard
190  female        group C          associate's degree  free/reduced
204    male        group C                 high school      standard
223  female        group E          associate's degree      standard
239    male        group A          associate's degree      standard
243  female        group A            some high school      standard
245    male        group B           bachelor's degree  free/reduced
248    male        group C           bachelor's degree      standard
251  female        group E           bachelor's degree  free/reduced
260  female        group C           bachelor's degree      standard
266    male        group D             master's degree  free/reduced
274    male        group A                some college      standard
284  female        group D                some college      standard
290    male        group D          associate's degree      standard
297    male        group E                some college      standard
312  female        group C          associate's degree      standard
314    male        group E          associate's degree  free/reduced
343    male        group C           bachelor's degree      standard
360    male        group E            some high school      standard
375    male        group D                some college      standard
380    male        group B          associate's degree      standard
385  female        group E                some college      standard
386    male        group D            some high school      standard
401    male        group B                some college      standard
409    male        group C          associate's degree      standard
438  female        group E             master's degree      standard

    test preparation course  math score  reading score  writing score
1                 completed        88.0           95.0           92.0
16                completed        81.0           81.0           79.0
24                completed        82.0           84.0           82.0
43                completed        98.0           86.0           90.0
49                completed        91.0           89.0           92.0
50                completed        88.0           93.0           93.0
54                completed        87.0           74.0           70.0
59                completed       100.0          100.0           93.0
67                completed        82.0           78.0           74.0
70                completed        96.0          100.0          100.0
75                completed        81.0           91.0           87.0
77                completed        97.0          100.0          100.0
94                completed        83.0           86.0           88.0
99                completed        83.0           82.0           84.0
124               completed        81.0           82.0           82.0
132               completed        81.0           78.0           81.0
137               completed        99.0           87.0           81.0
165               completed        82.0           97.0           96.0
169               completed        85.0           95.0          100.0
185               completed        84.0           83.0           78.0
190               completed        82.0           93.0           93.0
204               completed        86.0           81.0           80.0
223               completed        95.0           89.0           92.0
239               completed        97.0           92.0           86.0
243               completed        92.0          100.0           97.0
245               completed        87.0           90.0           88.0
248               completed        96.0           90.0           92.0
251               completed        92.0          100.0          100.0
260               completed        92.0          100.0           99.0
266               completed        84.0           89.0           90.0
274               completed       100.0           96.0           86.0
284               completed        85.0           86.0           98.0
290               completed        81.0           72.0           77.0
297               completed        85.0           75.0           68.0
312               completed        96.0           96.0           99.0
314               completed        91.0           73.0           80.0
343               completed        91.0           81.0           79.0
360               completed        87.0           84.0           76.0
375               completed        82.0           82.0           88.0
380               completed        82.0           84.0           78.0
385               completed        86.0           85.0           91.0
386               completed        88.0           74.0           75.0
401               completed        91.0           96.0           91.0
409               completed        98.0           87.0           90.0
438               completed        88.0           99.0           95.0

### Task 5: Using `apply` Function (10 Points)

- Task: Categorize students based on math scores into "High", "Medium", and "Low" categories (Add the details to the original Data Frame)

- Significance: The apply function is useful for transforming and categorizing data efficiently.

- Output: Display the top 10 rows of the data after modifying the Data Frame

In [52]:
# Code goes here
#Due to mixed signal directions where it is stated"you MUST reuse the results from previous question wherever possible" and Add the details to the original Data Frame, I have decided to add it to both dataframes and display both as well.  
def math_category(math):
    if math <= 25:
        return 'Low'
    elif math >= 76:
        return 'High'
    else:
        return 'Medium'

df_filtered['math_category'] = df_filtered['math score'].apply(math_category)#cleaned dataframe
df['math_category'] = df['math score'].apply(math_category)#original datafram
df.head(10)#original
#print(df_filtered.head(10))#cleaned

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,math_category
0,female,group B,bachelor's degree,standard,none,NaN,72.0,74.0,Medium
1,female,group C,some college,standard,completed,69.0,90.0,88.0,Medium
2,female,group B,master's degree,standard,none,90.0,NaN,93.0,High
3,male,group A,NaN,free/reduced,NaN,NaN,57.0,44.0,Medium
4,male,group C,some college,NaN,NaN,76.0,NaN,NaN,High
5,female,group B,NaN,standard,none,71.0,83.0,NaN,Medium
6,female,group B,some college,standard,completed,88.0,95.0,92.0,High
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0,Medium
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0,Medium
9,female,group B,high school,free/reduced,none,NaN,60.0,50.0,Medium

### Task 6: GroupBy Analysis (15 Points)

- As a Data Scientist, on of your core responsibilites is to extract meaningful insights by asking the right questions from the data and finding answers to them. The `groupby` operation in Pandas enables you to explore and find answers to various analytical questions efficiently

- For each of the following questions, extract answers from the data

1. How are students performing across different parental education levels? (use mean) - 5 Points
2. What is the average test score for each gender? - 5 Points
3. Which test has the highest average scores? - 5 Points

In [53]:
# Code for Question 1 
df_filtered.groupby('parental level of education')[['math score','reading score','writing score']].mean()

                             math score  reading score  writing score
parental level of education
associate's degree            67.597938      71.422680      71.195876
bachelor's degree             69.153846      73.365385      73.538462
high school                   62.350000      63.862500      61.825000
master's degree               70.193548      76.225806      76.258065
some college                  68.340000      70.550000      69.640000
some high school              62.037500      67.487500      65.675000

In [54]:
# Code for Question 2
df_filtered.groupby('gender')[['math score','reading score','writing score']].mean()

        math score  reading score  writing score
gender
female   64.318966      73.728448      73.577586
male     68.230769      65.211538      63.403846

In [55]:
# Code for Question 3
avg_scores = df_filtered[['math score', 'reading score', 'writing score']].mean()
highest_avg_test = avg_scores.idxmax()
highest_avg_value = avg_scores.max()
print(avg_scores)
print("The test with the highest average score is:", highest_avg_test, highest_avg_value)

math score       66.168182
reading score    69.702273
writing score    68.768182
dtype: float64
The test with the highest average score is: reading score 69.70227272727273

What are a few other questions you can ask from the data? </br></br>
Some questions are how does the test preparation course impact scores? Which race/ethnicity group scores the highest on average? Does lunch type affect scores?

### Task 7: Concatenation (10 Points)

- Task: Extract and combine the top and bottom 10 students by concatenating the subsets.

- Significance: Concatenation helps in segmenting and appending datasets for comparison.

- Output: Display the concatenated set

In [56]:
# Code goes here
#Assuming we are to use the cleaned dataframe to complete this as stated at the beginning of this portion of tasks "you MUST reuse the results from previous question wherever possible"

average_cat = df_filtered['average score'] = df_filtered[['math score', 'reading score', 'writing score']].mean(axis=1)

sorted_df = df_filtered.sort_values(by='average score', ascending=False)#(top 10)
sort_df = df_filtered.sort_values(by='average score', ascending= True)#(bottom 10)
top_10_students = sorted_df.head(10)
bottom_10_students = sort_df.head(10)

combined_students = pd.concat([top_10_students, bottom_10_students], keys=['Top 10', 'Bottom 10'])

print(combined_students)

               gender race/ethnicity parental level of education  \
Top 10    210  female        group E           bachelor's degree
          77   female        group D            some high school
          70   female        group C           bachelor's degree
          59     male        group E          associate's degree
          418  female        group D             master's degree
          251  female        group E           bachelor's degree
          312  female        group C          associate's degree
          260  female        group C           bachelor's degree
          205  female        group E                some college
          243  female        group A            some high school
Bottom 10 261    male        group B                 high school
          8    female        group B            some high school
          264  female        group C                 high school
          345  female        group B                some college
          388    male        group B                 high school
          160  female        group D            some high school
          58   female        group C                some college
          38     male        group C                 high school
          368  female        group B                 high school
          296  female        group C            some high school

                      lunch test preparation course  math score  \
Top 10    210      standard                    none       100.0
          77       standard               completed        97.0
          70       standard               completed        96.0
          59   free/reduced               completed       100.0
          418      standard                    none        92.0
          251  free/reduced               completed        92.0
          312      standard               completed        96.0
          260      standard               completed        92.0
          205      standard                    none       100.0
          243      standard               completed        92.0
Bottom 10 261  free/reduced                    none        30.0
          8    free/reduced                    none        18.0
          264      standard                    none        29.0
          345      standard                    none        19.0
          388  free/reduced                    none        36.0
          160  free/reduced                    none        27.0
          58   free/reduced                    none        22.0
          38   free/reduced                    none        27.0
          368  free/reduced               completed        23.0
          296  free/reduced               completed        29.0

               reading score  writing score math_category  average score
Top 10    210          100.0          100.0          High     100.000000
          77           100.0          100.0          High      99.000000
          70           100.0          100.0          High      98.666667
          59           100.0           93.0          High      97.666667
          418          100.0          100.0          High      97.333333
          251          100.0          100.0          High      97.333333
          312           96.0           99.0          High      97.000000
          260          100.0           99.0          High      97.000000
          205           92.0           97.0          High      96.333333
          243          100.0           97.0          High      96.333333
Bottom 10 261           24.0           15.0        Medium      23.000000
          8             32.0           28.0           Low      26.000000
          264           29.0           30.0        Medium      29.333333
          345           38.0           32.0           Low      29.666667
          388           29.0           27.0        Medium      30.666667
          160           34.0           32.0        Medium      31.000000
          58            39.0           33.0           Low      31.333333
          38            34.0           36.0        Medium      32.333333
          368           44.0           36.0           Low      34.333333
          296           40.0           44.0        Medium      37.666667

## Feedback
What do you expect to learn from this course? </br></br>
I am excited to further develop my skills in python and get a great and useful introduction to deep learning and LLMs.

<div class="alert alert-block alert-info">
<h2>Submission Instructions</h2> 
<b> File Name:</b> Please rename the file as netID_Lab01_Working with Numpy and Pandas.ipynb (eg: netID = adg133)<br>
<b> Submit through: </b> CodeBench <br>
<b>Warning:</b> Failure to follow directions may result in loss points.<br>
</div>